html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
    /* GLOBAL THEME COLORS */
    body.dark-mode {
        background-color: #121212 !important;
        color: #ffffff !important;
    }

    body.light-mode {
        background-color: #ffffff !important;
        color: #000000 !important;
    }

.navbar-dark .nav-link {
    color: #ffffff !important;
}

.navbar-light .nav-link {
    color: #000000 !important;
}

footer {
    color: #cccccc !important;
}
